@charset "UTF-8";
/* CSS Document */
*{
	box-sizing: border-box;
}
/*this is the background of the website*/
body{
	background: url(images/background6.avif) no-repeat fixed top left;
	background-size: cover
}
/*
#container{
	width: 1000px;
	height: 1500px;
		margin: 0 auto;
	align-content: center;
	justify-content: center;
	align-items: center;
}
*/
@media (max-width: 3499px){
	#container{
		width: 90%;
		flex-direction: column;
	}
	

	
	
	.makeMeStack{
		flx:100%;
	}
	
	
	
	@media only screen and (max-width: 600px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
	
		
		
		@media only screen and (max-width: 600px) {
		body {
		  font-size: 7px;
			
	  }
		}
	
		
		
	* {
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
}

.row:after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 15px;
  width: 100%;
}

@media only screen and (min-width: 600px) {
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}

@media only screen and (min-width: 768px) {
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}

	
	
	
	
	
}
.left{
	width:500px;
	height: 200px;
	background-color:rgba(255,255,255,.5);
	border-radius:25px;
	float: left;
	margin: 0px 50px 10px 220px;
	padding: 30px 30px 30px 30px;
	border: solid rgba(16,75,58,1.00);
	
}

.right{
	width:500px;
	height: 200px;
	background-color:rgba(255,255,255,.5);
	border-radius:25px;
	float: left;
	margin: 0px 0px 10px 0px;
	padding: 30px 30px 30px 30px;
	border: solid rgba(16,75,58,1.00);
	
}
/*this is the footer of the site*/
footer{
	background-color:rgba(75,101,73,1.00);
	clear: both;
	padding: 10px 0px 10px 0px;
	width: auto
}
/*This defines the placement and color of the title. It also contains a google font.*/
header > h1{
	display: flex;
	text-align: center;
	color:rgba(58,67,55,.85);
	font-family: "Sacramento", cursive;
  	font-weight: 400;
 	font-style: normal;
	width: 900px;
	height: 10px;
}
/*In this title I tried to use Vw sizing, but I am not sure if it is working. I will check up on this later*/
h2{
	margin-left: 55px;
	color:rgba(58,67,55,.8);
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	font-weight:bolder;
	font-size: 15Vw;
	font-style: oblique
		
}
/*Check on font size*/
h3{
	margin-left: 55px;
	color:rgba(58,67,55,.8);
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	font-weight:bolder;
	font-size: 15Vw;
	font-style: oblique
}
h4{
	margin-left: 55px;
	color:rgba(58,67,55,.8);
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	font-weight:bolder;
	font-size: 15Vw;
	font-style: oblique
}
/*Google font for paragraph*/
p{
	font-family: "Titillium Web", sans-serif;
  /*font-weight: 200;*/
  font-style: normal;
	font-weight:450
}
#container article{
	background-color: rgba(197,213,208,.8);
	align-self: center
}
/*this defines the placement of the images*/
img{
	display: flex;
	float:left;
	border-radius: 7%;
}
.lambsear b {
	color:rgba(198,105,107,1.00);
}
.texas > p {
	color:rgba(51,147,98,1.00);
}
/*unvisited link*/
a:link {
	color: purple;
}
/*visited link*/
a:visited {
	color: green;
}
/*mouse over link*/
a:hover {
	color: deeppink;
}
/*selected link*/
/*I couldn't figure out how to check this*/
a:active {
	color: orange;
}

table, th, td {
	border: 2px solid rgba(233,192,193,1.00);
	border-collapse: collapse;
	
}
th:hover {
	background-color: rgba(146,83,84,1.00);
	color: aliceblue;
	
}
td:hover {
	background-color: rgba(146,83,84,1.00);
	color: aliceblue;
	
}
th, td {
	background-color:rgba(176,107,107,.7);

}
table {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
}

ul {
	display: flex;
	font-size: 20px;
	background-color: rgba(117,133,117,1.00);
	width: 450px;
	border-radius: 25px;
	margin-top: 300px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
iframe {
	padding: 10px 16px;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: auto;
	margin-right: auto;
}
div {
	text-align: center;
	margin-top: 30px;
	justify-content: center;
	align-items: center;
	padding: 10px;
}
lable, input {
	font-size: 25px;
}
#nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
	background-color: rgba(181,126,107,.5);
	width: 100%;
	height: 40px;
	border-radius: 0px;
}
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 5px;
	overflow: hidden;
	
	
}
#ni {
  display: inline;
}
nav li {
	float: right;
}
nav li a {
	text-align: center;
	padding:14px 16px;
	text-decoration: none;
	display: block;
}

.flex-container {
  	display: flex;
  	flex-direction: row;
	justify-content:center;
	background-color: rgba(156,172,144,1.00);
	margin-bottom: 60px;
	flex-wrap: wrap;
}

.flex-container > div {
  background-color:rgba(251,251,251,1.00);
  margin: 10px;
  padding: 20px;
	font-size: 30px;
}
	